$white: #ffffff;
$blue: #4eb3e3;
$lightGrey: #6d7a80;
$navbar-bg-color: #ffffff;
$navbar-menu-item-text-color: #434a54;
$main-text-color: #1f343e;
$body-bg-color: #f8cc5d;
$stores-section-bg-color: #45565e;
$stores-text-color: #f8f4f9;
$footer-bg-color: #f8f4f9;
$form-bg-color: #f8f4f9;
