$navbar-menu-item-font-size: 20px;
$navbar-menu-item-font-weight: 400;
$navbar-menu-item-line-height: 32px;
$navbar-menu-item-mobile-font-size: 16px;
$navbar-menu-item-mobile-font-weight: 400;
$navbar-menu-item-mobile-line-height: 24px;

$form-title-font-size: 48px;
$form-title-font-weight: 400;
$form-title-line-height: 72px;
$form-title-mobile-font-size: 32px;
$form-title-mobile-font-weight: 400;
$form-title-mobile-line-height: 48px;

$form-text-font-size: 20px;
$form-text-font-weight: 400;
$form-text-line-height: 32px;
$form-text-mobile-font-size: 16px;
$form-text-mobile-font-weight: 400;
$form-text-mobile-line-height: 24px;

$form-input-placeholder-font-size: 20px;
$form-input-placeholder-font-weight: 400;
$form-input-placeholder-line-height: 20px;
$form-input-placeholder-mobile-font-size: 16px;
$form-input-placeholder-mobile-font-weight: 400;
$form-input-placeholder-mobile-line-height: 16px;

$form-submit-button-text-font-size: 20px;
$form-submit-button-text-font-weight: 700;
$form-submit-button-text-line-height: 32px;
$form-submit-button-text-mobile-font-size: 16px;
$form-submit-button-text-mobile-font-weight: 700;
$form-submit-button-text-mobile-line-height: 15px;

$form-footer-text-font-size: 16px;
$form-footer-text-font-weight: 400;
$form-footer-text-line-height: 32px;
$form-footer-text-mobile-font-size: 16px;
$form-footer-text-mobile-font-weight: 400;
$form-footer-text-mobile-line-height: 24px;

$steps-section-step-font-size: 20px;
$steps-section-step-font-weight: 700;
$steps-section-step-line-height: 32px;
$steps-section-step-mobile-font-size: 16px;
$steps-section-step-mobile-font-weight: 700;
$steps-section-step-mobile-line-height: 24px;

$steps-section-title-font-size: 32px;
$steps-section-title-font-weight: 400;
$steps-section-title-line-height: 48px;
$steps-section-title-mobile-font-size: 32px;
$steps-section-title-mobile-font-weight: 400;
$steps-section-title-mobile-line-height: 40px;

$steps-section-text-font-size: 20px;
$steps-section-text-font-weight: 400;
$steps-section-text-line-height: 32px;
$steps-section-text-mobile-font-size: 16px;
$steps-section-text-mobile-font-weight: 400;
$steps-section-text-mobile-line-height: 24px;

$stores-section-title-font-size: 20px;
$stores-section-title-font-weight: 700;
$stores-section-title-line-height: 16px;

$stores-section-subtitle-font-size: 16px;
$stores-section-subtitle-font-weight: 400;
$stores-section-subtitle-line-height: 16px;

$stores-section-stars-text-font-size: 20px;
$stores-section-stars-text-font-weight: 400;
$stores-section-stars-text-line-height: 24px;
$stores-section-stars-text-mobile-font-size: 16px;
$stores-section-stars-text-mobile-font-weight: 400;
$stores-section-stars-text-mobile-line-height: 24px;

$card-title-font-size: 16px;
$card-title-font-weight: 400;
$card-title-line-height: 24px;
$card-text-font-size: 16px;
$card-text-font-weight: 400;
$card-text-line-height: 24px;

$footer-title-font-size: 20px;
$footer-title-font-weight: 700;
$footer-title-line-height: 24px;
$footer-title-mobile-font-size: 16px;
$footer-title-mobile-font-weight: 700;
$footer-title-mobile-line-height: 24px;

$footer-text-font-size: 16px;
$footer-text-font-weight: 400;
$footer-text-line-height: 24px;

$footer-copyright-font-size: 16px;
$footer-copyright-font-weight: 400;
$footer-copyright-line-height: 24px;

$quicklinks-text-font-size: 16px;
$quicklinks-text-font-weight: 400;
$quicklinks-text-line-height: 24px;
